/* Landing page */

body {
    font-size: 16px;
    /* color: #fff; */
    background-color: #635b5d;
    font-family: 'Oxygen', sans-serif;
    padding-top: 0px;
}

.navbar {
    position: relative;
}

.navbar-brand {
    color: rgb(250, 240, 240)!important;
    clear: both;
    margin-left: 80px;
    background-color: #00b0b0;
    padding: 15px;
    margin-top: 0;
    font-weight: bold;
    position: fixed;
}

.nav-link {
    color: black;
    font-size: 15;
}

.main,
.viz {
    background-color: white;
    font-size: 20px;
    color: black;
    height: 620px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    margin-bottom: 20px;
}

section {
    position: relative;
    margin: 20px;
}

p {
    color: #00b0b0;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.temp:target {
    border: solid blue;
}

.wind:target {
    border: solid blue;
}

.humid:target {
    border: solid blue;
}

.cloud:target {
    border: solid blue;
    margin: 2px;
}

.compare {
    margin: 20px;
    background-color: white;
    font-size: 20px;
    color: black;
    height: 920px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.main-img {
    float: left;
}


/* FOOTER */

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-color: #00b0b0;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px;
    /* Vertically center the text there */
    background-color: #f5f5f5;
    text-align: center;
    border-top: 5px solid #00b0b0;
}


/* Visualization pages */

.viz-main {
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    font-size: 20px;
    color: black;
    height: 900px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.main-img {
    text-align: center;
}


/* for larger devices */

@media (max-width: 1200px) {
    .temp,
    .humid,
    .wind,
    .cloud {
        margin-top: 20px;
        width: 200;
        height: auto;
        align-items: center;
        position: relative;
        margin-right: auto;
        margin-left: auto;
    }
    .main .viz {
        background-color: white;
        font-size: 20px;
        color: black;
        height: 620px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 40px;
        margin-bottom: 20px;
    }
}


/* for medium devices */

@media (max-width: 992px) {
    .temp,
    .humid,
    .wind,
    .cloud {
        margin-top: 50px;
        width: 200;
        height: auto;
    }
    .viz {
        background-color: white;
        font-size: 20px;
        color: black;
        height: 420px;
        width: 100%;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .main {
        background-color: white;
        font-size: 20px;
        color: black;
        height: 920px;
        width: 95%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 40px;
        margin-bottom: 20px;
    }
}


/* for smaller devices */

@media (max-width: 768px) {
    .temp .humid .wind .cloud {
        margin-top: 50px;
        width: 200;
        height: auto;
        text-align: center;
        width: fit-content;
    }
    .viz {
        background-color: white;
        font-size: 20px;
        color: black;
        height: 920px;
        width: 95%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .main {
        background-color: white;
        font-size: 20px;
        color: black;
        height: 920px;
        width: 95%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 40px;
        margin-bottom: 20px;
    }
}