/* Landing page */

body {
    font-size: 16px;
    /* color: #fff; */
    background-color: #635b5d;
    font-family: 'Oxygen', sans-serif;
    padding-top: 0px;
}

.navbar {
    position: relative;
}

.navbar-brand {
    color: rgb(250, 240, 240)!important;
    clear: both;
    margin-left: 80px;
    background-color: #00b0b0;
    padding: 15px;
    margin-top: 0;
    font-weight: bold;
    position: fixed;
}

.nav-link {
    color: black;
    font-size: 15;
}

.main,
.viz {
    background-color: white;
    font-size: 20px;
    color: black;
    height: 620px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    margin-bottom: 20px;
}

section {
    position: relative;
    margin: 20px;
}

.table {
    margin-left: 20px;
    margin-right: 20px;
}

p {
    color: #00b0b0;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.temp:target {
    border: solid blue;
}

.wind:target {
    border: solid blue;
}

.humid:target {
    border: solid blue;
}

.cloud:target {
    border: solid blue;
    margin: 2px;
}

.compare {
    background-color: white;
    font-size: 20px;
    color: black;
    height: 1200px;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}

.main-img {
    float: left;
}

.gallery-block {
    padding-bottom: 60px;
}

.gallery-block .heading {
    margin-bottom: 50px;
    text-align: center;
}

.gallery-block .heading h2 {
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.gallery-block.compact-gallery .item {
    overflow: hidden;
    margin-bottom: 0;
    background: black;
    opacity: 1;
}

.gallery-block.compact-gallery .item .image {
    transition: 0.8s ease;
}

.gallery-block.compact-gallery .item .info {
    position: relative;
    display: inline-block;
}

.gallery-block.compact-gallery .item .description {
    display: grid;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    font-size: 17px;
    line-height: 18px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    opacity: 1;
    color: #fff;
    transition: 0.8s ease;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.39));
}

.gallery-block.compact-gallery .item .description .description-heading {
    font-size: 1em;
    font-weight: bold;
}

.gallery-block.compact-gallery .item .description .description-body {
    font-size: 0.8em;
    margin-top: 10px;
    font-weight: 300;
}


/* FOOTER */

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-color: #00b0b0;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px;
    /* Vertically center the text there */
    background-color: #f5f5f5;
    text-align: center;
    border-top: 5px solid #00b0b0;
}


/* Visualization pages */

.viz-main {
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    font-size: 20px;
    color: black;
    height: 900px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.main-img {
    text-align: center;
}


/* for larger devices */

@media (max-width: 1200px) {
    .temp,
    .humid,
    .wind,
    .cloud {
        margin-top: 20px;
        width: 200;
        height: auto;
        align-items: center;
        position: relative;
        margin-right: auto;
        margin-left: auto;
    }
    .main .viz {
        background-color: white;
        font-size: 20px;
        color: black;
        height: 620px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 40px;
        margin-bottom: 20px;
    }
}


/* for medium devices */

@media (max-width: 992px) {
    .temp,
    .humid,
    .wind,
    .cloud {
        margin-top: 50px;
        width: 200;
        height: auto;
    }
    .viz {
        background-color: white;
        font-size: 20px;
        color: black;
        height: 420px;
        width: 100%;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .main {
        background-color: white;
        font-size: 20px;
        color: black;
        height: 920px;
        width: 95%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 40px;
        margin-bottom: 20px;
    }
}


/* for smaller devices */

@media (max-width: 768px) {
    .temp .humid .wind .cloud {
        margin-top: 50px;
        width: 200;
        height: auto;
        text-align: center;
        width: fit-content;
    }
    .viz {
        background-color: white;
        font-size: 20px;
        color: black;
        height: 920px;
        width: 95%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .main {
        background-color: white;
        font-size: 20px;
        color: black;
        height: 920px;
        width: 95%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 40px;
        margin-bottom: 20px;
    }
}

@media (min-width: 576px) {
    .gallery-block.compact-gallery .item .description {
        opacity: 0;
    }
    .gallery-block.compact-gallery .item a:hover .description {
        opacity: 1;
    }
    .gallery-block .zoom-on-hover:hover .image {
        transform: scale(1.3);
        opacity: 0.7;
    }
}